<form [formGroup]="loanForm">
    <div>
        <label>Loan Type</label>
        <input type="text" formControlName="loanType">
    </div>
    <div>
        <label>Loan Desciption</label>
        <input type="text" formControlName="loanDescription">
    </div>
    <button (click)="validate()">Validate</button>
    <div formArrayName="loans">
        <div *ngFor="let loan of getControls('loans')['controls']; index as i">
            <input type="text" [formControlName]="i">
        </div>
    </div> 
    <div formArrayName="address">
        <div *ngFor="let address of getControls('address')['controls']; let i  = index" [formGroupName]="i">
            <div>
                <label>Address</label>
                <input type="text" formControlName="address">
            </div>
            <div>
                <label>City</label>
                <input type="text" formControlName="city">
            </div>
            <div>
                <label>State</label>
                <input type="text" formControlName="state">
            </div>
            <button type="button" (click)="removeFormGroup(i)">remove</button>
        </div>
        <button type="button" (click)="addFormGroup()">addMore</button>
    </div>
</form>